@media screen and (max-width: 576px) {

    * {
        overflow-x: hidden;
    }

    nav {
        flex-direction: column;
        /* max-width: 576px; */
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .logo-container {

        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .nav-items-container {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .nav-items-container a {
        padding: 20px;
    }

    .follow-us-box {
        align-items: center;
        border-radius: 8px;

    }

    .main-banner {
        flex-direction: column-reverse;
        margin: 30px;
    }

    .online-funny-text {
        flex-direction: column;

    }

    .online-funny-text h2,
    .online-fg-desc {
        flex-direction: column;

    }

    .online-games-funny-video {
        flex-direction: column;

    }


    .game-card p {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .play-instantly {
        flex-direction: column;
    }

    .play-instant-text h2 {
        text-align: center;
    }

    .play-instant-text p {
        padding-top: 20px;
        text-align: center;
    }

    .play-instant-image .big-img {
        width: 400px;
    }


    .play-instant-image {
        margin-bottom: 30px;
    }

    .play-instant-image .small-img {
        margin-top: -122px;
        margin-left: -44px;
        width: 200px;
        height: 205px;
    }

   
    .game-name {
    flex-direction: column;
    width: 100px;
    } 

    .footer{
    flex-direction: column;
    }

    .footer-logo-container{
    width: 100%;
    flex-direction: row;
    margin-right:20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

    .footer-two ul{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    /* column-gap: 10px; */
    align-items:flex-start;
    justify-items: stretch;
    }

    .icons-container img {
 
    justify-content: center;
    align-items: center;
    }
    .footer-four p{
    text-align: center;
    margin: 0;
    }
}

