* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    height: 130px;
    width: 50%;
    margin-left: 100px;
    object-fit: cover;
    align-items: center;
    gap: 20px;
}

.logo-container img {
    width: 86.041px;
    height: 40px;

}

.logo-container p {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.G-word {
    color: #FF42A5;
}

.nav-items-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-right: 100px;

}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.follow-us-box {
    width: 250px;
    height: 50px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-top: 25px;
    padding-left: 8px;
    display: flex;
    justify-content: space-evenly;
}

.fa-tiktok {
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

/* body styles */

/* main banner styles */
.main-banner {
    width: auto;
    background-color: #FFF;
    display: flex;
    justify-content: space-evenly;

    margin: 0 100px;
}

.main-banner-text {
    padding-top: 148px;
    padding-bottom: 148px;
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    background-image: url(images/Group\ 14.png);
}

.main-banner-text h4 {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.main-banner-text h3 {
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 20px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-icon {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding-left: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-banner-image {
    /* width: 50%; */
    height: 600px;
    background-color: #fff;
    margin: auto;
}

/* .main-banner-image img{
height: 600px;
width: 100%;
} */

.banner-button {
    display: flex;
    justify-content: center;
    padding: 35px 30px;

    gap: 30px;
}

.signin {
    width: 156px;
    height: 65px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}

.go-rogue {
    width: 180px;
    height: 65px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #4EC5F7;
    border-radius: 75px;
    border: none;
}

/* main banner styles */

/* online games funny vide */

.online-funny-text {
    text-align: center;
    margin: 40px;
}

.online-funny-text h2 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}

.online-fg-desc {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.online-games-funny-video {
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF;


}


.game-card img {

    width: 320px;
    height: 380px;

}

.game-card p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

/* <!-- play instantly no downloads --> */
.play-instantly {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
    align-items: center;
    background-color: #FFF;

}

.play-instant-text {
    width: auto;
}

.play-instant-desc {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-instant-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}

#play-instant-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play-instant-image {
    display: flex;
    flex-direction: column;
}

.big-img {
    width: 634.833px;
    height: 650px;

}

.small-img {
    position: relative;
    margin-top: -257px;
    margin-left: -157px;
    width: 318px;
    height: 360px;
    border-radius: 8px;

}

/* <!-- play instantly no downloads --> */
.all-games {
    height: 440px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 10px;

}

.all-games button {
    text-decoration: none;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding-left: 5px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #FFF;
}

.games-name {
    display: flex;
    /* align-items: center; */
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.games-name:hover {
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    border: 2px solid #FF42A5;
    border-radius: 30px;
    color: #FF42A5;
}

.games-name button:hover {
    color: #FF42A5;
}







.footer {


    width: 100%;
    height: 400px;
    background-color: #0B0223;
}

.footer-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    gap: 20px;

}

.footer-logo-container img {
    width: 86.041px;
    height: 40px;


}

.gamer {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.footer-two ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.footer-two ul>a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.footer-four ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-four ul>a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
}

.footer-four p {

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 12px;
    padding-top: 20px;
}

.icons-container {
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

}

.icons-container img {
    padding: 30px;
}